{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index-style.css'%}">
    <title>Rede Social</title>
</head>
<body>
    <div class="container">
        <div class="logo-area">
            <h1>Bacefook</h1>
        </div>
        <div class="action-area">
            <a href="/user/login/">Logar</a>
            <a href="/user/cadastro/">Cadastrar</a>
        </div>
    </div>
</body>
</html>