*{
    
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: rgb(247, 245, 245);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 80%;
    height: 70%;
    margin: 0;
    padding: 0;
}

.logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 95%;
    background-image: url('https://picsum.photos/650');
    font-family: 'Exo 2', sans-serif;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.logo-area>h1{
    padding: 17px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.action-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 95%;
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.action-area>a{
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;    
    color: white;
    text-decoration: none;
    font-size: small;
    text-align: center;
    padding-top: 12px;
    font-family: 'Exo 2', sans-serif;
}

.action-area>a:hover{
    background-color: rgb(80, 80, 80);
}
