{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles-form.css' %}">
    <title>Bacefook | Perfil</title>
</head>

<body>
    <div>
        <form   action="{% url 'edit_perfil' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}               
            <button type="submit">Salvar Perfil</button>
        </form>

    </div>
</body>
</html>